/* Reseta margens e paddings e define a fonte base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Corpo da página */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #66b3ff, #142a6d);
  padding: 0 20px;
  overflow: hidden;
}

/* Contêiner do formulário */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Formulário */
.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid #60a5fa;
}

/* Cabeçalho do formulário */
.form-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

#logo {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.title h1 {
  font-weight: 500;
  color: #000;
  font-size: 28px;
}

.title h2 {
  font-weight: bold;
  font-family: "Roboto Slab";
  font-size: 36px;
  color: #60a5fa;
}

/* Grupos de input */
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Caixa de input */
.caixa {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.caixa label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #333;
}

.caixa input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease-in-out;
}

.caixa input::placeholder {
  color: #aaa;
}

.caixa input:focus {
  border-color: #60a5fa;
  outline: none;
}

/* Caixa de imagem */
.imagem {
  position: relative;
  width: 150px; /* Reduzido o tamanho da caixa */
  height: 150px; /* Reduzido o tamanho da caixa */
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start; /* Alinha à esquerda */
  animation: shake 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imagem input[type="file"] {
  display: none;
}

.imagem label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  display: none;
}

.imagem:hover {
  animation: shake 0.5s ease-in-out; /* Ativa o efeito de shake no hover */
}

/* Botão Salvar */
.salve-button {
  display: flex;
  width: 100%;
  justify-content: flex-end; /* Alinha o botão à direita */
}

.salve-button button {
  background-color: #60a5fa;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.salve-button button:hover {
  background-color: #142a6d;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .form {
    padding: 1.5rem;
  }

  .title h1 {
    font-size: 24px;
  }

  .title h2 {
    font-size: 30px;
  }
}
